<%- include('partials/head') %> 

  <body>
    <%- include('partials/navbar') %> 
    <h1>The Home Page <%="hello.world".toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quae aliquam
      beatae autem vero veniam at velit fuga voluptatem amet rem voluptatum cum,
      delectus quis obcaecati libero impedit fugiat perferendis totam numquam
      deserunt nihil doloribus officiis deleniti. Aliquam pariatur doloribus
      illum inventore? Officia mollitia iure similique necessitatibus, vero aut
      doloremque?
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio qui
      error dolorem id aliquid earum, quam, maiores magni eius voluptatibus
      neque quis laborum voluptatum odio libero nam hic, consectetur unde.
    </p>
  </body>
</html>
